{% extends 'base.html' %}
{% load static %}
{% block content %}
	<div class='row my-5'>
		<div class='col-12'>
			<h3>Produtos</h3>
		</div>
	</div>
    <div class="row">
        {% for product in products %}
			<div class="col-lg-3">
                <div class="card">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text"></p>
                        <form action="{% url 'add-cart' product.pk %}" method='POST'>
                            {% csrf_token %}
                            <button class="btn btn-primary" name="product_id" valeu="{{ product.pk }}">Adicionar ao Carrinho</button>
                        </form>
                        <a class="btn btn-outline-success" href="#">Visualizar Poduto</a>
                        <h4 style="display: inline-block; float: right">${{product.price|floatformat:2}}</h4>
                    </div>
                </div>
            </div>
		{% endfor %}
{% endblock content %}
