{% extends 'base.html' %}

{% block content %}
    <div class='row'>
        <div class='col-12'>
            {% for tarefa in tarefas %}
                <div class='card p-4 mb-3'>
                    <div class='row justfy-content-between'>
                        <div class='col-9'>
                            <p class=''>{{ tarefa.content }}</p>
                            <span>{{ tarefa.created_at }}</span>
                        </div>
                        <div class='col-3'>
                            <div class='d-flex justify-content-center'>
                                <buttom class='btn btn-success'> Concluir </buttom>
                                <buttom class='btn btn-primary mx-3'> Editar </buttom>
                                <buttom class='btn btn-danger'> Deletar </buttom>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}